In [20]:
#9.1 How-to-count-distance-to-the-previous-zero
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
y = []
z_pos = -1
for i, n in enumerate(df.X):
    if n == 0:
        z_pos = i
    y.append(i - z_pos)
df['Y']=y
print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [21]:
#9.2 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [22]:
import pandas as pd
import numpy as np
import datetime as dt

data_arr = np.empty((0))
date_val = np.empty((0))
date_val_month = np.empty((0))
start_date = '2015-01-01'
end_date = '2015-12-31'
for date in pd.date_range(start_date, end_date):
    date_val = np.append(date_val,date.strftime('%Y-%m-%d'))
    date_val_month = np.append(date_val_month, date.strftime('%Y-%m'))
    data_arr = np.append(data_arr,date.strftime('%A'))
    #print(date_val_month)
    
rand_num = np.random.rand(365,1)

df = pd.DataFrame(data=rand_num,index=data_arr,columns=['Rand_num'])
df.index.name = 'Day'

df['WorkDay'] = df.index

df.head(10)

           Rand_num    WorkDay
Day
Thursday   0.081560   Thursday
Friday     0.314686     Friday
Saturday   0.133244   Saturday
Sunday     0.839147     Sunday
Monday     0.027128     Monday
Tuesday    0.779731    Tuesday
Wednesday  0.970769  Wednesday
Thursday   0.385581   Thursday
Friday     0.155265     Friday
Saturday   0.951431   Saturday

In [23]:
df['Month'] = date_val_month

In [24]:
df.head()

          Rand_num   WorkDay    Month
Day
Thursday  0.081560  Thursday  2015-01
Friday    0.314686    Friday  2015-01
Saturday  0.133244  Saturday  2015-01
Sunday    0.839147    Sunday  2015-01
Monday    0.027128    Monday  2015-01

In [25]:
## Wednesday aggregation of Random Number
df.pivot_table(values='Rand_num',index='Day',aggfunc='sum')

            Rand_num
Day
Friday     25.630892
Monday     23.516107
Saturday   23.076959
Sunday     25.254230
Thursday   27.945669
Tuesday    26.395345
Wednesday  27.710582

In [26]:
#Average For each calendar month
df.pivot_table(values='Rand_num',index='Month',aggfunc='mean')

         Rand_num
Month
2015-01  0.483207
2015-02  0.541556
2015-03  0.416006
2015-04  0.507502
2015-05  0.473458
2015-06  0.461630
2015-07  0.487705
2015-08  0.488572
2015-09  0.600399
2015-10  0.482499
2015-11  0.457404
2015-12  0.509138

In [28]:
range = pd.date_range('2015-01-01', '2015-12-31', freq='1D')
df_test = pd.DataFrame(index = range)
df_test.head()

Empty DataFrame
Columns: []
Index: [2015-01-01 00:00:00, 2015-01-02 00:00:00, 2015-01-03 00:00:00, 2015-01-04 00:00:00, 2015-01-05 00:00:00]

In [34]:
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
rand_num = np.random.rand(365,1)
df_test['Rand_num'] = rand_num
df_test.index.names=['Date']
df_test.head()

            Rand_num
Date
2015-01-01  0.359262
2015-01-02  0.434561
2015-01-03  0.531614
2015-01-04  0.416690
2015-01-05  0.320745

In [35]:
df_test['Rand_num'].resample('M').mean()

Date
2015-01-31    0.491700
2015-02-28    0.576226
2015-03-31    0.539192
2015-04-30    0.455936
2015-05-31    0.451176
2015-06-30    0.569399
2015-07-31    0.566656
2015-08-31    0.459228
2015-09-30    0.571138
2015-10-31    0.509332
2015-11-30    0.438358
2015-12-31    0.471392
Freq: M, Name: Rand_num, dtype: float64

In [36]:
df_test['Rand_num'].resample('4M').max()

Date
2015-01-31    0.970294
2015-05-31    0.977771
2015-09-30    0.998939
2016-01-31    0.993458
Freq: 4M, Name: Rand_num, dtype: float64